* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.album-input-form {
  margin-left: 30px;
  margin-top: 40px;
  width: 200px;
}

.album-info-input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.genre-button {
  background-color: antiquewhite;
  border: none;
  margin-right: 5px;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 2px;
  display: block;
  width: 100%;
}

.dropdown-button {
  width: 100%;
}

.dropdown-container {
  width: 100%;
}

.album-added-today {
  border: green solid 2px;
}
